---
layout: default
---
<link rel="stylesheet" href="site.css">
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="post-list">
    <li>
      <h3> <a class="post-link" href="problem">Problem</a> </h3>
    </li>
    <li>
      <h3> <a class="post-link" href="purpose">Purpose</a> </h3>
    </li>
    <li>
      <h3> <a class="post-link" href="opportunity">Opportunity</a> </h3>
    </li>
    <li>
      <h3> <a class="post-link" href="solution">Solution</a> </h3>
    </li>
    <li>
      <h3> <a class="post-link" href="money">Money</a> </h3>
    </li>
  </ul>

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <h2 class="post-list-heading">Register your interest</h2>
  <ul>
    <li>
      <a class="post-link" href="https://azmoz.typeform.com/to/MJFHex" target="_blank">dance classes</a>
    </li>
    <li>
      <a class="post-link" href="mailto:azhidkov@gmail.com?Subject=Saturday%20morning%20beach%20volleyball%20on%20Floreat"
        target="_top">Saturday morning beach volleyball on Floreat</a>
    </li>
    <li>
      <a class="post-link" href="mailto:azhidkov@gmail.com?Subject=Sunday%20evening%20social%20football%20game%20in%20Yokine"
        target="_top">Sunday evening social football game in Yokine</a>
    </li>
  </ul>

  <h2 class="post-list-heading">Help us grow</h2>
  <p>
    If you want to support the team you can help us by donating or backing us on Patreon. Any amount would help support
    and continue development on this project and is greatly appreciated.
  </p>
  <a href="https://www.patreon.com/teambldr" class="patreon-button" style="color: white">Become a
    Patron</a>

  {%- endif -%}
</div>